#contact-me {
    height: 60vh;
    width: 100vw;
    /* background-color: #252734; */
    box-shadow: 2px 2px 2px white;
}

.contact-me {
    height: 100%;
    width: 100%;
}

.contact-me .contact-div {
    height: 55%;
    width: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px white;
    border: none;
    border-radius: 15px;
    background-color: #2A2C39;
}

.contact-div h5 {
    font-size: 2rem;
    color: #f8d9d9;
    margin: 0.5rem 0;
}

.contact-div p {
    font-size: 1rem;
    color: #fff;
    margin: 0.5rem 0;
}

.contact-me .contact-div:hover {
    box-shadow: 0px 0px 20px white;

}