#Footer {
    height: 10vh;
    width: 100vw;
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}