.about {
    height: 90vh;
    width: 93vw;
    margin: 10% 0 0 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 2px solid white; */
}

.about>div {
    height: 100%;
    width: 50%;
}

.about .about-sec1 {
    flex-direction: column;
    /* border: 2px solid red; */
}

.about-sec1 .my-pic {
    height: 70%;
    width: 70%;
    margin-bottom: 1rem;
    border: none;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px rgb(55, 109, 78);
}

.my-pic>img {
    height: 100%;
    width: 100%;
}

.about-social:hover {
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 0 5px white; */
}

.about .about-sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.about-sec2>h4 {
    margin: 1rem 0 3rem 0;
}

.about-sec2>h4>a {
    color: #fff;
}

.about-me {
    height: 80%;
    width: 80%;
    padding: 5%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me>p>span {
    height: 5%;
    width: 10%;
    font-size: 3.2rem;
    color: #acabab;
    margin: 0 1.5rem;

}

.about-me>p {
    font-size: 2rem;
    color: #acabab;

}


@media screen and (max-width:900px) {
    .about {
        flex-direction: column;
        gap: 10px;
    }

    .about>div {
        height: 50%;
        width: 100%;
    }

    .about-sec1 {
        order: 1;
    }

    .about-sec2 .about-me {
        height: 80%;
        width: 90%;
    }

    .about-me>p>span {
        height: 3%;
        width: 5%;
        font-size: 2rem;
        color: #acabab;
        margin: 0 1.5rem;

    }

    .about-me>p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .abou-btn {
        height: 2rem;
        width: 5rem;
    }
}



@media screen and (max-width:420px) {
    .about-me>p {
        font-size: 1.2rem;
    }
}